.bxs-microphone {
  font-size: 30px;
  color: #7eca9c;
}

.navbar {
  background-color: #40394a;
}

.navbar-brand {
  color: #7eca9c !important;
}

body {
  height: 100% !important;
  background-color: #1c1427 !important;
}
html {
  height: 100% !important;
}
.form-control {
  margin-top: 4em;
  width: 70% !important;
  height: 10em !important;
  background-color: #40394a !important;
  color: #ccffbd !important;
  border-color: 1px solid #7eca9c;
}

.form-control::placeholder {
  color: #ccffbd !important;
}

textarea:focus {
  outline: none;
}

.btn {
  border-radius: 25px !important;
}

.form-select {
  width: 40% !important;
  background-color: #40394a !important;
  color: #ccffbd !important;
  border-color: 1px solid #7eca9c;
}

footer {
  position: absolute !important;
  bottom: 1px !important;
  width: 100%;
  color: #40394a;
}
